<div class="d-flex dropdown-center mx-auto p-2 justify-content-center" style="width: 90%">
    <form class="d-flex form-inline my-2 my-lg-2 flex-row" style="width: 400px">
        <input id="search_field" class="form-control mr-4 mx-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul id="search_result" class="dropdown-menu mx-2 text-small shadow show" style="transform: translate(0px, 46px);"
        data-popper-placement="top-start">
        <li><a class="dropdown-item" href="#">Configuração</a></li>
        <li><a class="dropdown-item" href="/logoff">Sair</a></li>
    </ul>
</div>

<canvas class="my-4 px-4 w-100 chartjs-render-monitor" id="myChart" width="1500" height="633"
        style="display: block; width: 1500px; height: 633px;"></canvas>

<div class="accordion p-4" id="accordionFlushExample">
</div>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.9.0/dist/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"
        integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function InitGraph() {
        feather.replace()

        var ctx = document.getElementById('myChart')
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'cliente',
                    data: [],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                },
                ]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false
                }
            }
        })
        return myChart;
    }

</script>

<script>
    let search = $("#search_field")
    let result = $("#search_result")
    let tableProduct = $("#table-product")
    let graphic = null;

    result.hide()

    let typingTimer;
    let doneTypingInterval = 500; // Tempo em milissegundos (0.5 segundos)

    // Função para realizar a pesquisa
    function doSearch() {
        let query = search.val();

        // Realiza a pesquisa somente se houver texto digitado
        if (query.trim() !== '') {
            result.empty()
            searchAjax();
            result.show();
        } else {
            // Se o campo de pesquisa estiver vazio, limpe os resultados
            result.empty();
            result.hide();
        }
    }

    function searchAjax() {
        $.ajax({
            url: "{% url 'ajax_pesquisa' %}",
            type: "GET",
            data: {search: search.val()},
            success: function (response) {
                response.forEach(
                    data => result.append(`
                        <li class="search-item-result">
                            <a class="dropdown-item" >${data.ean} - ${data.name}</a>
                            <input type="hidden" value="${data.ean}">
                        </li>
                    `)
                );
                // evento de click
                $('.search-item-result').on('click', function () {
                    let ean = $(this).children('input').val();
                    getProductGraphAjax(ean)
                    result.hide();
                    tableProduct.empty();
                });
            }
        });
    }


    function getProductGraphAjax(ean) {
        $.ajax({
            url: "{% url 'ajax_produto_graph' %}",
            type: "GET",
            data: {ean: ean},
            success: function (response) {

                function contructTable(content, id) {
                    let contentTable = '';

                    let fn = function (data) {
                        contentTable += `
                    <tr>
                        <td>${data.id}</td>
                        <td>${data.seller}</td>
                        <td>${data.ean}</td>
                        <td>${data.name}</td>
                        <td>${data.value ? data.value.toLocaleString('pt-br', {
                        style: 'currency',
                        currency: 'BRL'
                    }) : '00,00 R$'}</td>
                        <td>${data.data_in ? moment(data.data_in).format('DD/MM/YYYY HH:mm:ss') : ''}</td>
                    </tr>
                    `
                    }

                    content.forEach(fn);

                    let table = `<div class="table-responsive">
                                <table class="table table-striped table-bordered table-sm">
                                    <thead>
                                    <tr class="table-dark">
                                        <th>ID</th>
                                        <th>Seller</th>
                                        <th>Ean</th>
                                        <th>Nome</th>
                                        <th>Valor</th>
                                        <th>Data</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-product">
                                        ${contentTable}
                                    </tbody>
                                </table>
                            </div>`

                    let arcodion = `
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse${id}" aria-expanded="false" aria-controls="flush-collapse${id}">
                                    <span>${content[0].seller}</span>
                                </button>
                            </h2>
                            <div id="flush-collapse${id}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    ${table}
                                </div>
                            </div>
                        </div>`

                    return arcodion;
                }

                let acc = $('#accordionFlushExample');
                acc.empty();
                {# Todo: Verificar se arrumou o erro do produto 10006197 #}
                if (response['client'].length) {
                    acc.append(contructTable(response['client'], '1'));
                }
                if (response['sellers'].length) {
                    acc.append(contructTable(response['sellers'], '2'));
                }

                insertInGraph(response)
            }
        })
    }

    function insertInGraph(data) {
        let dataDict = {};

        let tratarData = function (dataSeller) {
            let d = new Date(dataSeller['data_in']);

            if (dataDict[d.getFullYear()] == null) {
                dataDict[d.getFullYear()] = {};
            }
            let month = d.getMonth() + 1;
            if (dataDict[d.getFullYear()][month] == null) {
                dataDict[d.getFullYear()][month] = {};
            }

            let day = d.getDate();
            if (dataDict[d.getFullYear()][month][day] == null) {
                dataDict[d.getFullYear()][month][day] = {};
            }

            if (dataDict[d.getFullYear()][month][day][dataSeller.seller] == null) {
                data['allSellers'].forEach(seller => dataDict[d.getFullYear()][month][day][seller] = 0);
                dataDict[d.getFullYear()][month][day][dataSeller.seller] = dataSeller.value;
            }

        }
        data['client'].forEach(tratarData);
        data['sellers'].forEach(tratarData);

        let dataSets = {}
        let color = 0x0048EF;
        data['allSellers'].forEach(function (seller) {
            dataSets[seller] = {
                label: seller,
                data: [],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#' + color.toString(16).padStart(6, 0),
                borderWidth: 4,
                pointBackgroundColor: this.borderColor
            }
            color = color << 1;
            console.log(color.toString(16).padStart(6, 0))
        });

        let label = new Set();
        for (const [key, value] of Object.entries(dataDict)) {
            for (const [key1, value1] of Object.entries(value)) {
                for (const [key2, value2] of Object.entries(value1)) {
                    label.add(new moment(`${key}-${key1}-${key2}`).format('DD/MM/YYYY'));
                    for (const [key3, value3] of Object.entries(value2)) {
                        dataSets[key3]['data'].push(value3);
                    }
                }
            }
        }

        graphic.data.datasets = []

        for (const [key, value] of Object.entries(dataSets)) {
            let alt = false;
            let listAIndic = [];
            let listBIndic = [];
            let lastValue = 0;
            let firstValue = 0;
            let count = 0;
            let fn = function (v) {
                if (v === 0 && alt === false) {
                    listAIndic.push(count);
                } else if (v === 0) {
                    alt = true;
                    listBIndic.push(count);
                } else {
                    if (firstValue === 0) {
                        firstValue = v;
                    }
                    alt = true;
                    lastValue = v;
                }
                listAIndic.forEach(i => value.data[i] = firstValue);
                listBIndic.forEach(i => value.data[i] = lastValue);
                count += 1;
            }
            value.data.forEach(fn);
            graphic.data.datasets.push(value);
        }
        graphic.data.labels = Array.from(label);
        graphic.update();
        console.log(dataSets);
    }

    $(document).ready(function () {

        // Evento de teclado
        search.keyup(function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doSearch, doneTypingInterval);
        });

        // Evento para cancelar a pesquisa se o usuário começar a digitar novamente antes do tempo de espera
        search.keydown(function () {
            clearTimeout(typingTimer);
        });

        // Evento para fechar a pesquisa quando clicado fora
        $("main").click(function () {
            result.hide();
        });

        graphic = InitGraph();

    });

</script>
