{% extends 'base.html' %}
{% block head %}
    <style>
        .sidebar {
            /* Add other styles as needed */
            height: 100vh; /* Removed to avoid redundancy */
            width: 280px;
        }
    </style>
{% endblock %}
{% block content %}
    <main class="d-flex flex-nowrap">
        {% include 'menu.html' %}
        <div id="content-dash" class="cointainer overflow-auto" style="width: 100%; max-height: 100vh">
            {% include 'content-dashborad.html' %}
        </div>
    </main>
    <script>
        $(document).ready(function () {
            $("#webScrap").click(function (event) {
                event.preventDefault();

                $.ajax({
                    url: "{% url 'web_scrap' %}",
                    type: "GET",
                    success: function (response) {
                        loadPage('webScrap', response)
                    }
                });
            });

            $("#produtos").click(function (event) {
                event.preventDefault();

                $.ajax({
                    url: "{% url 'produtos' %}",
                    type: "GET",
                    success: function (response) {
                        loadPage('produtos', response)
                    }
                });
            });
        });

        function clearContent(){
            $('#content-dash').empty();
        }

        function insertHTML(data){
            $('#content-dash').html(data);
        }


        function loadPage(id, content){
            clearContent();
            $('.nav-link').removeClass('active')
            $('#'+id).addClass('active')
            insertHTML(content)
        }
    </script>
{% endblock %}
